<div class="word-page">
  <div class="word-info">
    <div class="column">

      <div class="word-page-chars">

        <div class="word-main">
          {{#each chars}}
            <span class="word-char-col">

              <div class="char-pinyin">{{ this.pinyin }}</div>

              <!-- TODO: change layout so word is highlightable -->
              <div class="word-char">
                <a href="/word/{{this.simplified}}">{{this.simplified}}</a>
              </div>

              <div class="word-char-alt">
                <span>{{ this.traditional}}</span>
              </div>
            </span>
          {{/each}}
        </div>

      </div>

      <div class="tags">
        {{#each entry.tags}}
          <a class="tag" href="/tag/{{this}}">{{this}}</a>
        {{/each}}
      </div>

    </div>
    <div class="column">
      <div class="definitions">
        <ol>
          {{#each entry.definitions}}
            <li>
                {{this.definition}}
                {{#if this.example}}
                    <div class="inline-example">
                        <div class="example">{{ this.example.example }}</div>
                        <div class="english">{{ this.example.english }}</div>
                    </div>
                {{/if}}
            </li>
          {{/each}}
        </ol>
      </div>
    </div>
  </div>

  {{#if this.charEntries}}
    <section>
      <h3>Characters</h3>

      <ul class="char-entries">
        {{#each charEntries}}
          <li>
            {{ this.simplified }} ({{ this.traditional }}):
            {{#each this.definitions}}
              {{ this.definition ~}}
              {{~#unless @last~}}; {{~/unless}}
            {{/each}}
          </li>
        {{/each}}
      </ul>
    </section>
  {{/if}}

  <section>
    <h3>Resources</h3>

    <ul>
      <li><a href="https://en.wiktionary.org/wiki/{{ entry.simplified }}">Wiktionary: {{ entry.simplified }}</a></li>
      <li><a href="https://www.mdbg.net/chinese/dictionary?wdqb={{ entry.simplified }}">MDBG: {{ entry.simplified }}</a></li>
      <li>Examples with {{ entry.simplified }} on <a href="https://tatoeba.org/en/sentences/search?from=cmn&query={{ entry.simplified }}&to=eng">Tatoeba</a></li>
    </ul>
  </section>


  <section>
    <h2>Examples</h2>

    {{#each entry.examples}}
      <p>{{this.example}}</p>
    {{else}}
      <p>No examples. <a href="https://github.com/jeffcarp/chinesedict/issues/new">Add one?</a></p>
    {{/each}}
  </section>

  <section>
    <h2>Comments</h2>
    <script src="https://giscus.app/client.js"
            data-repo="jeffcarp/chinesedict"
            data-repo-id="R_kgDOKQM5Dw"
            data-category="General"
            data-category-id="DIC_kwDOKQM5D84Ci3jt"
            data-mapping="pathname"
            data-strict="0"
            data-reactions-enabled="1"
            data-emit-metadata="0"
            data-input-position="bottom"
            data-theme="preferred_color_scheme"
            data-lang="en"
            data-loading="lazy"
            crossorigin="anonymous"
            async>
    </script>
  </section>

</div>
